*
{
    font-family:'Courier New', Courier, monospace;
}
#c
{
    width: 20vw;
    height: 20vw;
    border-radius: 50%;
    margin-left: 38%;
    background-color: blue;
}
#bu
{
    margin-top: 5vw;
    margin-left: 44.5%;
    background-color: transparent;
    border: 1px solid rgb(59, 59, 255);
    padding: 1vw 2vw;
    border-radius: 8px;
    transition: all 600ms;
}
#bu:hover
{
    background-color: rgb(59, 59, 255) ;
    box-shadow: 0px 0px 15px 5px rgb(59, 59, 255);
}